#titulo { color: lightpink; }
.subtitulo { color: blue; }
.contenido { color: grey; }
.lista { color: purple; }
.nav { color: purple; }
body {font-size: 20px ; background-color: lightblue; }
h1 {text-align: center; text-decoration: underline; font-style: italic;}
a {text-align: center;}
h2 {text-align: center; text-decoration: underline;}
p {text-align: center; font-size: 20px}
li {text-align: left;}
.tgalesa{width: 200px ; height: 180px ; margin-left: 42%;}
nav {text-align: center;}
.icono {width: 100px ; height: 100px ; }
.iconos {width: 100px ; height: 100px ; }
.click {text-align: center; }
iframe {margin-left: 35%;}
.iconosfooter {margin-left: 40%;}
.potrero {text-align: center; font-size: 20px}
.contact {
  text-align: center; font-size: 20px; margin-left: 40%;
}


header {background-color:lightblue; }
nav {background-color:lightpink; }
section.youtube {background-color:lightblue; }
section.ingredientes {background-color: white}
aside {background-color:white; }
section.pasos {background-color: white}
footer {background-color:grey; }


section.ingredientes {float: left;
        width: 48% ;
      height: 300px ;
    overflow: auto;
  margin: 1% ;
  border: 2px dotted purple ;
box-sizing: border-box;}

aside {float: right;
        width: 48% ;
      height: 300px ;
    overflow: auto;
  margin: 1% ;
  border: 2px dotted purple ;
box-sizing: border-box;}

footer {clear: both;}

.whatsapp {position: fixed;
          top: 75%;
        right: 1% ;}
.nav:hover {
  background-color: lightyellow;
  font-size: 30px;
}
.contact:hover {
  font-style: italic;
  font-size: 60px;
  background-color: fuchsia;
}
.potrero:hover{
  font-style: oblique;
  font-size: 30px;
  background-color: green;
}

.tgalesa:hover {
width: width: 300px ; height: 250px ; margin-left: 42%;
}
.iconos:hover {width: 150px ; height: 150px ; }
.subtitulo:hover {
  font-style: bold;
  font-size: 60px;
  background-color: lightyellow;
}
.contenido:hover{
  background-color: lightpink;

}

.contact::before {
  content: "--->";
  color: red;
}

.contact::after {
  content: "<---";
  color: red;
}
